html {
    scroll-behavior: smooth;
  }



.section-follow .fa-4x{
    margin: 5px 10px
}

.backgroundslider{
    height: 100vh;
}
/* .slider{
   height: 100vh,
} */

.parallax-container{
    height: 100vh;
}

.about-me{
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.scroll_down{
    display: flex;
  justify-content: center;
  align-items: center;
  
}

/* .pfp{
    width: 10%;
    
} */

.adobe_logo{
    width: 50px;

}